{% load i18n %}
{% with order.addresses as addresses %}
<h2>{% trans "Billing address" %}</h2>
{% with addresses.billing as address %}{% include "plata/_address.html" %}{% endwith %}
{% endwith %}

<h2>{% trans "Order items" %}</h2>
<table border="1">
{% for item in order.items.all %}
<tr>
    <td>{{ item.product }}</td>
    <td>{{ item.quantity }} * {{ item.currency }} {{ item.unit_price|floatformat:2 }}</td>
    <td>{{ item.currency }} {{ item.discounted_subtotal|floatformat:2 }}</td>
</tr>
{% endfor %}
</table>

{% with order.applied_discounts.all as discounts %}
  {% if discounts %}
    <h2>{% trans "Discounts" %}</h2>
      {% for discount in discounts %}
        <tr>
          <td>{{ discount.name }}</td>
          <td>{{ discount.code }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  <h2>{% trans "Total" %}</h2>
  <table>
    <tr>
      <th>{% trans "subtotal"|capfirst %}</th>
      <td>{{ order.currency }} {{ order.subtotal|floatformat:2 }}</td>
    </tr>
    {% if discounts %}
      <tr>
        <th>{% trans "discount"|capfirst %}</th>
        <td>{{ order.currency }} {{ order.discount|floatformat:2 }}</td>
      </tr>
    {% endif %}
    <tr>
      <th>{% trans "shipping"|capfirst %}</th>
      <td>{{ order.currency }} {{ order.shipping|floatformat:2 }}</td>
    </tr>
    <tr>
      <th>{% trans "tax"|capfirst %}</th>
      <td>{{ order.currency }} {{ order.tax|floatformat:2 }}</td>
    </tr>
    <tr>
      <th>{% trans "total"|capfirst %}</th>
      <td>{{ order.currency }} {{ order.total|floatformat:2 }}</td>
    </tr>
  </table>
{% endwith %}
