{% extends "base.html" %}

{% load i18n plata_tags %}

{% block title %}{% trans "Order payment failure" %} - {{ block.super }}{% endblock %}

{% block content %}
<h1>{% trans "Order payment failure" %}</h1>

<p>{% trans "You can continue editing your order and try again." %}</p>

<button type="button" onclick="window.location.href='{% url plata_shop_cart %}'">{% trans "Cart" %}</button>

<button type="button" onclick="window.location.href='{% url plata_order_new %}'">{% trans "Create new order" %}</button>
{% endblock %}
