{% extends "base.html" %}

{% load i18n plata_tags %}

{% block title %}{% trans "Discounts" %} - {{ block.super }}{% endblock %}

{% block content %}
<h1>{% trans "Discounts" %}</h1>

{% include "plata/_order_overview.html" %}

<form method="post" action=".">{% csrf_token %}
<h2>{% trans "Voucher code" %}</h2>
{% form_errors form %}

<table>
{% form_item form.code %}
<tr>
    <td></td>
    <td>
        <input type="submit" name="save" value="{% trans "Add voucher" %}" />
        <input type="submit" name="proceed" value="{% trans "Proceed to confirmation" %}" />
</tr>
</table>
</form>
{% endblock %}
