{% extends base_template|default:"base.html" %}

{% load i18n plata_tags %}

{% block title %}{% translate "Order payment failure" %} - {{ block.super }}{% endblock %}

{% block content %}
<h1>{% translate "Order payment failure" %}</h1>

<button type="button" onclick="window.location.href='{% url "plata_shop_cart" %}'">{% translate "Cart" %}</button>

<button type="button" onclick="window.location.href='{% url "plata_order_new" %}'">{% translate "Create new order" %}</button>
{% endblock content %}
