{% extends "base.html" %}

{% load i18n plata_tags %}

{% block title %}{% trans "Order successful" %} - {{ block.super }}{% endblock %}

{% block content %}
{% if order.is_paid %}
    <h1>Vielen Dank für Ihre Bestellung.</h1>
    {# TODO this isn't correct for cash on delivery <h1>{% trans "Order has been fully paid." %}</h1> #}
{% else %}
    {% if order.paid %}
        <h1>{% trans "Order has been partially paid." %}</h1>
    {% else %}
        <h1>{% trans "Order has been confirmed." %}</h1>
    {% endif %}
    <p>{% trans "As soon as we receive a confirmation from the payment provider, you'll be sent a confirmation e-mail." %}</p>
{% endif %}

{% include "plata/_order_overview.html" %}

<button type="button" onclick="window.location.href='{% url plata_order_new %}'">{% trans "Create new order" %}</button>
{% endblock %}
