{% extends base_template|default:"base.html" %}

{% load i18n plata_tags %}

{% block title %}{% translate "Cart" %} - {{ block.super }}{% endblock %}

{% block content %}
{% if empty %}
<h1>{% translate "Cart is empty!" %}</h1>
{% else %}
<h1>{% translate "Cart" %}</h1>

{% url 'plata_product_list' as ppl_url %}
<p>{% blocktranslate %}
You may add products by going to the <a href="{{ ppl_url }}"> products list</a>.
To proceed to payment, select the "Checkout" button below.{% endblocktranslate %}
</p>

<form method="post" action=".">{% csrf_token %}{{ orderitemformset.management_form }}

{% form_errors orderitemformset %}
<table>
    <tr>
        <th>{% translate "product"|capfirst %}</th>
        <th>{% translate "unit price"|capfirst %}</th>
        <th>{% translate "quantity"|capfirst %}</th>
        <th>{% translate "line item price"|capfirst %}</th>
        <th>{% translate "Delete" %}</th>
    </tr>
{% for orderitemform in orderitemformset.forms %}
    <tr>
        <td>{{ orderitemform.instance.product }}</td>
        <td>{{ orderitemform.instance.unit_price|floatformat:2 }}</td>
        <td>
            {{ orderitemform.id }}
            {% form_item_plain orderitemform.quantity %}
        </td>
        <td>{{ orderitemform.instance.discounted_subtotal|floatformat:2 }}</td>
        <td>{% form_item_plain orderitemform.DELETE %}</td>
    </tr>
{% endfor %}
    <tr>
        <td colspan="2"></td>
        <td colspan="3">
            <input type="submit" name="save" value="{% translate "Save" %}" />
            <input type="submit" name="checkout" value="{% translate "Checkout" %}" />
        </td>
    </tr>
</table>
</form>
{% endif %}
{% endblock content %}
