{% extends "base.html" %}

{% load i18n plata_tags %}

{% block title %}{% trans "Order successful" %} - {{ block.super }}{% endblock %}

{% block content %}
{% if order.is_paid %}
    <h1>{% trans "Order has been fully paid." %}</h1>
{% else %}
    {% if order.paid %}
        <h1>{% trans "Order has been partially paid." %}</h1>
    {% else %}
        <h1>{% trans "Order hasn't been paid." %}</h1>
    {% endif %}
{% endif %}

{% include "plata/_order_overview.html" %}

<a href="/pdf/{{ order.id }}/">PDF</a>

<a href="{% url plata_order_new %}">{% trans "Create new order" %}</a>
{% endblock %}
