{% extends base_template|default:"base.html" %}

{% load i18n plata_tags %}

{% block title %}{% translate "Discounts" %} - {{ block.super }}{% endblock %}

{% block content %}
<h1>{% translate "Discounts" %}</h1>

{% include "plata/_order_overview.html" %}

<form method="post" action=".">{% csrf_token %}
<h2>{% translate "Voucher code" %}</h2>
{% form_errors form %}

<table>
{% form_item form.code %}
<tr>
    <td></td>
    <td>
        <input type="submit" name="save" value="{% translate "Add voucher" %}" />
        <input type="submit" name="proceed" value="{% translate "Proceed to confirmation" %}" />
</tr>
</table>
</form>
{% endblock content %}
