*.pyc
*~
.*.swp
\#*#
/secrets.py
.DS_Store
._*
plata.db
plata.log
/docs/_build
/docs/deploy.sh
.pydevproject
.project
/dist
/Plata.egg-info
/MANIFEST
/tests/venv
/tests/.coverage
/tests/htmlcov
build
