include LICENSE
include MANIFEST.in
include README.rst
include requirements.txt
include setuplib.py
recursive-include plata/locale *.po
recursive-include plata/locale *.mo
recursive-include plata/shop/templates *.html
recursive-include plata/shop/templates *.txt
