# this list is taken from .travis.yml and not complete
simplejson==3.8.2
openpyxl==2.2.6  # unreleased! current is 2.4.0
reportlab==3.2.0  # current is 3.3.0, but no release notes
pdfdocument==3.1
django-countries==3.4.1
