{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ object }} - {% trans "Products" %} - {{ block.super }}{% endblock %}

{% block content %}
<h1>{{ object }}</h1>

{{ object.description|linebreaks }}

{% if object.cmsproduct %}
{% load feincms_tags %}
{% feincms_render_region object.cmsproduct "main" request %}
{% endif %}

<div class="prices">
    {% for currency, prices in object.get_prices %}
        {% if prices.sale %}
            {% if prices.normal %}<span style="text-decoration: line-through;">{{ prices.normal }}</span>{% endif %}
            <strong>{{ prices.sale }}</strong><br />
        {% else %}
            <strong>{{ prices.normal }}</strong><br />
        {% endif %}
    {% endfor %}
</div>

<form method="post" action=".">
{% csrf_token %}
<table>
{{ form }}
</table>
<input type="submit" value="{% trans "Add to cart" %}" />
</form>
{% endblock %}
