{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ object }} - {% trans "Products" %} - {{ block.super }}{% endblock %}

{% block content %}
<h1>{{ object }}</h1>

{{ object.description|linebreaks }}

<div class="prices">
    {% with price=object.get_price %}
        <strong>{{ price }}</strong><br />
    {% endwith %}
</div>

<form method="post" action=".">
{% csrf_token %}
<table>
{{ form }}
</table>
<input type="submit" value="{% trans "Add to cart" %}" />
</form>
{% endblock %}
